<h2 class="my-4">Edit Existing Item</h2>

<%= form_tag todo_list_path(@todoList), :method => :put do %>
  <%= label :todo_list, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :todo_list, :name, :value => "#{@todoList.name}", :class => 'form-control col-5 d-inline' %>
  <%= label :todo_list, :priority, 'Priority', :class => 'col-form-label ml-3' %>
  <%= text_field :todo_list, :priority, :value => "#{@todoList.priority}", :class => 'form-control col-4 d-inline' %>
  <br/>
  <%= label :todo_list, :task_link, 'Task Link', :class => 'col-form-label mt-3' %>
  <%= text_field :todo_list, :task_link, :value => "#{@todoList.task_link}", :class => 'form-control' %>
  <br/>
  <%= label :todo_list, :creation_date, 'Create On', :class => 'col-form-label my-3'  %>
  <%= date_select :todo_list, :creation_date, {default: {
      year: "#{@todoList.creation_date.strftime("%Y")}", 
      month: "#{@todoList.creation_date.strftime("%m")}", 
      day: "#{@todoList.creation_date.strftime("%d")}"
    }}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= label :todo_list, :due_date, 'Due On', :class => 'col-form-label my-3'  %>
  <%= date_select :todo_list, :due_date, {default: {
      year: "#{@todoList.due_date.strftime("%Y")}", 
      month: "#{@todoList.due_date.strftime("%m")}", 
      day: "#{@todoList.due_date.strftime("%d")}"
    }}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Update Task Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', todo_list_index_path, :class => 'btn btn-secondary' %>
<% end %>
