<!--  This file is app/views/movies/index.html.erb -->
<h2 class="my-4">All Reminders</h2>

<%= form_tag todo_list_index_path, method: :get, id: 'priorities_form' do %>
  Include:
  <% @all_priorities.each do |p| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "priorities[#{p}]", p, class: 'form-check-label' %>
      <%= check_box_tag "priorities[#{p}]", "1",  @priorities_to_show.include?(p), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= label :todo_list, :time_frame, 'Time Frame' %>
  <%= select :todo_list, :time_frame, ['All', '1d', '1w', '1m'], {selected: @default_time_frame}, :class => 'form-control col-1 d-inline' %>
  <div class="form-check-inline"></div>
  <%= label :todo_list, :done, 'Implemented' %>
  <%= select :todo_list, :done, ['All', 'No', 'Yes'], {selected: @default_done}, :class => 'form-control col-1 d-inline' %>
  <div class="form-check-inline"></div>
  <%= submit_tag 'Refresh', id: 'priority_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="todoList">
  <thead>
    <tr>
      <th width="17%">Priority</th>
      <th width="20%">Name</th>
      <th width="25%">Due Date</th>
      <th>Implemented</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @todoLists.each do |item| %>
      <% if item.user == current_user %>
        <% if item.priority == 'High' %>
          <tr style="font-weight:bold">
            <td class = "hilite bg-danger">
              <%= item.priority %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.due_date.strftime("%B %d, %Y") %>
            </td>
            <td>
              <%= item.task_size %>
            </td>
            <td>
              <%= link_to "More about #{item.name}", todo_list_path(item) %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td>
              <%= item.priority %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.due_date.strftime("%B %d, %Y") %>
            </td>
            <td>
              <%= item.task_size %>
            </td>
            <td>
              <%= link_to "More about #{item.name}", todo_list_path(item) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Task', new_todo_list_path, :class => 'btn btn-primary my-4' %>

